#page_wrapper
{
	/*background: url("../img/background_gradient.png") repeat-x scroll 0 0 #FFFFFF;*/
}

#page_wrapper #header
{
	background-color:#226C3B;
	border-bottom:solid #000000 1px;
}

#page_wrapper #footer
{
	display:none;
}

	#page_wrapper #content , #page_wrapper #right_bar
	{
		background-color:white;
	}

	#page_wrapper #header .title_container
	, #page_wrapper #header .title_container a
	{
		color:white;
	}	
	
	#page_wrapper #header .title_container #nav_container 
	, #page_wrapper #header .title_container #nav_container a
	{
		color:white;
	}
	
	#nav_container ul li
	{
		/*background:#FFFFFF;
		border:solid white 2px;*/
		color:white;
	}	

		#nav_container ul li.current
		{
			/*border-top:solid white 2px;*/
		}

		#nav_container ul li:hover
		{
			border-bottom:solid white 2px;
		}
			
		#nav_container ul li a
		{
			color:white;
		}			
	
			

	#page_wrapper #footer
	{
		border-top: solid #000000 1px;
		color:white;
	}
	
#content_wrapper #left_bar
{
	border-right:solid #000000 5px;
}

#content h2
{
	border-bottom: solid #000000 5px;
}

.largeLinkButton
{
	color:black;
}

.largeLinkButton:hover
{
	background-color:#DBEDFF;
}

