$COLOR_PRIMARY: #226C3B;
$COLOR_PRIMARY_TEXT: #FFFFFF;

$SCREEN_SIZE_SMALL: 500px;
$SCREEN_SIZE_MEDIUM: 500px;
$SCREEN_SIZE_LARGE: 700px;

.center {
	margin:0px auto;
}

.error {
	color:red;
}

.clear_both { 
	clear:both; height:1px; 
}

.hidden { 
	display:none; 
}

